

  .latest-news{
    margin-left: 140px;
    margin-top: 20px;
    font-size: 28px;
    padding: 0px 10px;
    width: auto;
    background-color: #e3e3e3;
  }

  .bid-body{
    margin-left: 120px;
    margin-top: 20px;
    font-size: 20px;
    padding: 0px 10px;
    width: auto;
    background-color: #041170;
  }

  .bid-form{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
    padding: 15px;
    width: auto;
    background-color: #19257d;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }