@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .login{
    float: right;
  }

  .login:hover{
    background-color: #04AA6D;
  }

  #main-welcome{
    margin-top: 50px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }

  .main-body{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(54, 51, 51, 0.233);
    padding: 20px;
    border-radius: 10px;
  }

  .inputs{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bid{
    background-color: #CDFCF6;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .bid-body{
    background-color: #FAF7F0;
  }

  .bids{
    display: inline-block;
  }

  .time{font-family: 'Roboto Mono', monospace;}

  .deleteButton{
    background-color: #b31419;
    color: whitesmoke;
    border-radius: 10px;
  }

  .deleteButton:hover{
    color: #b31419;
    background-color: whitesmoke;
    border-radius: 10px;
  }